h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  text-indent: 2em;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  text-indent: 3em;
}

p {
  text-align: justify;
}

.header-section-number::after, 
.toc-section-number::after {
  content: " - ";
}

hr {
  border: none;
  height: 3px;
  color: #EEEEEE; 
  background-color: #EEEEEE; 
}

.caption {
  text-align: justify;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 6pt;
  padding-bottom: 6pt;
}

pre {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.sourceCode {
  font-family: "Fira Code";
  font-size: 12px;
}

video {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

img {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 10px;
  padding-top: 10px;
}

table {
  font-size: 12px;
}

#model-selection > table {
  font-size: 9px;
}


